<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Database_Example.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
   <add name="DatabaseContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Database_Example.Models.DatabaseContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <!-- skole database hos ITCN -->
    <!--<add name="DatabaseContext" connectionString="Data Source=sql.itcn.dk\TCAA;Initial Catalog=ltpe.TCAA;User ID=ltpe.TCAA;Password=5uF68R0Tbt;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!--<add name="DatabaseContext" connectionString="Data Source=10.139.65.180;Initial Catalog=larsdrink;User ID=larsdrink;Password=larsdrink;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <applicationSettings>
    <Database_Example.Properties.Settings>
      <setting name="WEB_API_URL" serializeAs="String">
        <value>https://webapistudent.buchwaldshave34.dk/api/student</value>
      </setting>
      <setting name="WEB_API_STUDENT_URL" serializeAs="String">
        <value>http://webapistudent.buchwaldshave34.dk/api/student</value>
      </setting>
      <setting name="WEB_API_TEAM_URL" serializeAs="String">
        <value>http://webapistudent.buchwaldshave34.dk/api/team</value>
      </setting>
      <setting name="WEB_API_COURSE_URL" serializeAs="String">
        <value>http://webapistudent.buchwaldshave34.dk/api/course</value>
      </setting>
    </Database_Example.Properties.Settings>
  </applicationSettings>
</configuration>